 @import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

 body {
     margin: 0;
     background: #000000;
     background: linear-gradient(183deg,rgba(128, 173, 250, 0.993) 0%, rgb(255, 255, 255) 100%);
     font-family: Arial, sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }

 .todo-box {
     background-color: #111111be;
     padding: 30px;
     border-radius: 20px;
     width: 350px;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.61);
 }

 h2 {
     color: white;
     text-align: center;
     margin-bottom: 20px;
 }

 .input-row {
     display: flex;
     gap: 10px;
     margin-bottom: 20px;
 }

 input[type="text"] {
     flex: 1;
     padding: 10px;
     border-radius: 10px;
     border: none;
     background: #dfdfdf;
     color: rgb(15, 15, 15);
     font-size: 14px;
 }

 button.add-btn {
     padding: 10px 20px;
     background: #00d157;
     color: white;
     border: none;
     border-radius: 10px;
     font-weight: bolder;
     cursor: pointer;
     transition: 0.3s;
 }

 button.add-btn:hover {
     padding: 10px 20px;
     background: #005c26;
     border-radius: 1px;
     font-weight: bolder;
     cursor: pointer;
     transform: translateY(-10px);
 }
 ul {
     list-style: none;
     padding: 0;
     margin: 0;
 }

 li {
     background: #184075ee;
     padding: 10px;
     margin-bottom: 10px;
     border-radius: 10px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .task-btns {
     display: flex;
     gap: 10px;
 }

 .task-btns button {
     border: none;
     padding: 10px;
     cursor: pointer;
     width: 36px;
     height: 36px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 6px;
     box-shadow: inset 0 0 0 0.5px #f7f7f7;
 }


 .check-btn {
     background-color: #00ff1e;
     font-weight: bolder;
     cursor: pointer;
     transition: 0.3s;
 }

 .remove-btn {
     background-color: #ff1900;
     cursor: pointer;
     transition: 0.3s;
 }

 .check-btn:hover {
     background-color: #288f34;
     font-weight: bolder;
     border-radius: 1px;
     
 }

 .remove-btn:hover {
     background-color: #8a2317;
     border-radius: 1px;
 }

 .check-btn svg,
 .remove-btn svg {
     width: 20px;
     height: 20px;
     fill: #ffffff;
     font-weight: bolder;

 }

 .done span {
     text-decoration: line-through;
     color: #999;
 }

 li span {
     color: white;
 }
 p {
    color: rgb(163, 163, 163);
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    font-weight: bold;
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: Bold;
    }