body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;  
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;    /* Center horizontally */
}